<div class="jumbotron">
  <h1 class="display-4">Conference details</h1>
  <p class="lead">
    Select the page you want to visit
  </p>
  <hr class="my-4" />
  <p class="lead">
    <a href="/signUp" class="btn btn-primary btn-lg">Sign Up</a>
    <a href="/chart" class="btn btn-danger btn-lg">Data Charts</a>
  </p>
</div>